.listNews {
    margin: 3rem 0;

    .swiper-container {
        width: 100%;
        height: 100%;
        position: relative;
        padding-bottom: 80px;

    }

    .swiper-pagination {
        border-top: 1px dashed #000;
        padding-top: 20px;
        position: absolute;
        left: 0;
        bottom: -16px;
        height: 80px;

        &-bullet {
            width: 30px;
            height: 30px;
            display: inline-block;
            background: #e9e9e9;
            opacity: 1;
            border-radius: 0;
        }

        &-bullet-active {
            color: #fff;
            background: #007aff;
        }
    }

    .swiper-wrapper {
        // display: bl;
        // transition: all 0ms ease 0s !important;

        .swiper-slide {
            // text-align: center;
            // font-size: 18px;
            // background: #fff;

            /* Center slide text vertically */

            display: flex;

            justify-content: center;

            align-items: center;
        }
    }

    &__Content {
        margin: 0;

        .news__item {
            background-color: #f3f3f3;
            text-align: center;
            position: relative;
            margin: 30px 0;


            .news__banner {
                overflow: hidden;
                width: 100%;

                img {
                    transform: scale(1);
                    transition: all 0.6s;
                    width: 100%;
                }

            }

            .news__icons {
                display: flex;
                justify-content: center;

                align-items: center;


                i {
                    color: $green1;
                }

                span {
                    color: $dark1;
                }

                &--admin {
                    padding-right: 10px;
                }

                &--time {
                    padding-left: 10px;
                }
            }


            .news__content {
                padding: 30px;

                .news__intro {
                    margin-top: 20px;
                    color: $new-color1;
                    font-weight: bold;
                    font-size: 1.5rem;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        color: $green1;
                    }
                }

                .news__text {
                    color: $dark1;
                    font-size: 17px;
                    padding-bottom: 40px;
                    margin-top: 10px;
                }

                .news__next {
                    position: absolute;
                    bottom: -16px;
                    left: 50%;
                    transform: translate(-50%, 0);

                    width: 40px;
                    height: 40px;

                    border-radius: 50%;
                    background-color: #5CB24E;
                    
                    cursor: pointer;
                    
                    box-shadow: 0px 4px 6px -1px #096213;
                    
                    i {
                        color: white;
                        line-height: 40px;
                        font-size: 1.5rem;
                        transition: all 0.4s;
                        transform: rotate(0);


                    }

                    &:hover {
                        i {
                            transform: rotate(90deg);
                            // padding-left: 10px;
                        }
                    }
                }

            }

            &:hover {

                .news__banner {
                    img {
                        transform: scale(1.2);
                    }
                }
            }

        }

        @include ResponsiveMax(992px) {
            .news__item {
                .news__content {

                    .news__intro {
                        padding-top: 9px;
                        font-size: 16px;
                    }

                    .news__text {
                        font-size: 15.5px;
                    }
                }
            }
        }

    }
}