.zaloCall {
    @include Responsive(768px) {

        display: none;
    }



    @media screen and (max-width:767px) {

        position: sticky;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 60px;
        z-index: 9999;
        background-color: $blue1;

        justify-content: center;
        align-items: center;

        &__content {
            display: flex;
            height: 100%;
            width: 100%;
            position: relative;

            &__item {
                color: white;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;


                a {
                    span {
                        color: white;
                    }

                    img {
                        max-width: 40px;
                        max-height: 40px;
                        object-fit: cover;
                    }

                    img,
                    i {
                        margin-right: 5px;
                    }
                }

            }

            &::after {
                position: absolute;
                top: 0;
                left: 50%;
                content: "";
                width: 2px;
                height: 100%;
                background-color: white;
                transform: translate(-50%, 0%);
            }
        }
    }
}