// color 
$green1:#5CB24E;
$green2:#2ecc40;
$red1:#f83f37;
$color-black1 :#6c6564;
$orange1:#ea7f35;
$dark1:#b9c1c5;
$bg-intro:#eaeaea;
$gray1:#373737;
$gray2:#757276;
$gray3 :#F5F5F5;
$dark2:#232323;
$blue1:#016fb7;
// size man hinh 
$SM : 768px;
$MD :1024px;
$XL:1170px;
$mbMin : 320px;

$grow1 :#482124;
$new-color1:#17354f;
// margin 
$m1:1rem;
$m2:2rem;
$m3:3rem;
$m5:5rem;
$m9:9rem;
// padding
$p2:2rem;
$p3:3rem;
$p5:5rem;



// $mt-b3:3rem ;



// letter space 
$sp1:1px;
$sp2 : 2px;
$sp3 : 3px;

// font size 
$fs1:1rem;
$fs1f:1.5rem;
$fs2:2rem;
$fs2f:2.5rem;

$fs3:3rem;
$fs4:4rem;
$fs5:5rem;
// kich thuoc man hinh 
$XS: 480px;
$SM: 768px;
$MD: 1024px;
$XL: 1170px;


//path-image
$path-bg:"../img";



// gioi thieu 
$color-dv-1 :#717d7d;