* {
    margin: 0;
    padding: 0;
    // scroll-behavior: smooth;
    text-decoration: none !important;
    list-style: none;


    &:focus {
        outline: none;
    }

}

.swiper-button-next,
.swiper-button-prev {
    top: 98%;

    font-weight: bold;
}



body {
    // font-family: 'roboto';
    position: relative;

}

@media only screen and (max-width:480px) {
    h2 {
        font-size: 1.2rem !important;
    }
}