.procedure {
    margin-bottom: $m3;

    &__title {
        position: relative;
        width: 50%;
        text-align: center;
        margin: $m3 auto;

        h2 {
            @include title(0px);

            &:before {
                @include star-lr();
                left: 25%;
            }

            &:after {
                @include star-lr();
                right: 25%;
            }

        }

        i {
            color: yellow;
            font-size: 1.5rem;
        }

    }

    &__content {
        .content__left {
            img {
                width: 100%;

                height: 100%;
                display: block;
            }
        }

        .content__right {


            width: 100%;
            height: 440px;

            .left__item {
                margin-left: auto;
                position: relative;
                padding-left: 20px;

                &::before {
                    @include product(block, 3px, 100%, 0);
                    left: -2px;
                }

                .item--icon {
                    text-align: left;

                    &:before {
                        @include product(inline-block, 20px, 3px, 50%);
                        left: 0;
                        transform: translate(0, -50%);

                    }
                }
            }

            .right__item {
                margin-right: auto;
                position: relative;
                padding-right: 20px;
                text-align: right;


                &::after {
                    @include product(block, 3px, 100%, 0);
                    right: -1px;
                }

                .item--icon {
                    &:before {
                        @include product(inline-block, 20px, 3px, 50%);
                        right: 0;
                        transform: translate(0, -50%);

                    }
                }

            }

            .item {
                height: 20%;
                width: 50%;
                display: flex;
                align-items: center;

                &--icon {
                    width: 40%;

                    i {
                        border: 2px solid $green1;
                        color: $green1;
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        line-height: 80px;
                        text-align: center;

                    }
                }


                span {
                    width: 60%;
                    font-size: 0.9rem;
                    text-align: justify;
                }

            }
        }
    }

    @media screen and (max-width:1024px) {
        margin-bottom: $m1;

        &__title {
            width: 70%;

            margin: $m1 auto;

            h2 {
                font-size: 1.5rem;

            }

            i {
                font-size: 1rem;
            }

        }

        &__content {
            .content__left {
                img {
                    width: 100%;

                    height: 100%;
                    display: block;
                }
            }

            .content__right {


                width: 100%;
                height: 440px;

                .left__item {
                    margin-right: auto;


                    &::before {
                        display: none;
                    }

                    .item--icon {
                        text-align: left;

                        &:before {
                            display: none;

                        }
                    }
                }

                .right__item {

                    flex-direction: row-reverse;
                    justify-content: space-between;

                    &::after {
                        display: none;
                    }

                    .item--icon {
                        &:before {
                            display: none;
                        }
                    }

                }

                .item {
                    width: 100%;

                    &--icon {
                        width: 30%;

                        i {
                            border: 2px solid $green1;
                            color: $green1;
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            line-height: 80px;
                            text-align: center;
                            font-size: 1.5rem;


                        }
                    }


                    span {
                        width: 60%;
                        font-size: 0.9rem;
                        text-align: justify;
                    }

                }
            }
        }

    }

    @media screen and (max-width:768px) {
        &__title {
            margin: 0 auto;

        }

        &__content {
            .content__left {
                img {
                    width: 100%;

                    height: 100%;
                    display: block;
                }
            }

            .content__right {


                // width: 100%;
                // height: 440px;





                .item {
                    width: 100%;

                    &--icon {
                        width: 30%;

                        position: relative;

                        i {
                            display: block;

                            &::after {
                                @include product(inline-block, 20px, 3px, 50%);
                                right: 0%;
                                width: 47%;
                            }
                        }
                    }




                    span {
                        width: 70%;

                    }

                }
            }
        }
    }

    @media screen and (max-width:543px) {
        &__content {
            .content__right {
                .item {
                    &--icon {
                        i {
                            &::after {
                                display: none;
                            }


                        }
                    }



                }

            }
        }
    }
}